.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header-section {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  p {
    color: var(--ion-color-medium);
  }
}

ion-item {
  margin-bottom: 20px;
}

.register-button {
  margin-top: 30px;
  height: 48px;
}

.footer-links {
  text-align: center;
  margin-top: 30px;

  a {
    color: var(--ion-color-primary);
    cursor: pointer;
  }
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  padding-left: 16px;
  margin-top: -15px;
  margin-bottom: 10px;
}