.dashboard-header {
  background: var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-medium-tint);
  h2 {
    font-weight: bold;
    color: var(--ion-color-primary);
  }
}

ion-item h3 {
  font-weight: 600;
}

ion-item-option {
  flex-direction: column;
  ion-icon {
    font-size: 1.5rem;
    margin-bottom: 4px;
  }
}