<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="avatar">
      {{ user?.email?.charAt(0).toUpperCase() }}
    </div>
    <h2>{{ user?.email }}</h2>
    <p>Rol: {{ role | titlecase }}</p>
  </div>

  <ion-list lines="full" class="ion-padding-top">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Email</h3>
        <p>{{ user?.email }}</p>
      </ion-label>
    </ion-item>
     <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>ID de Usuario</h3>
        <p class="user-id">{{ user?.id }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" color="secondary">Editar Perfil</ion-button>
    <ion-button expand="block" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
  </div>
</ion-content>